<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TheLinkedList.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4840F97A1CA1092F00B1F33E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4840F98E1CA1093000B1F33E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4840F9991CA1093000B1F33E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
